
body{
    background-color: #f5f4f8;
}
.row{
    text-align: center;
    /* display: flexbox; */
    /* align-items:center; */
    /* background-color: black; */
}
.p-2{
 border-radius: 2rem;
 background-color: rgb(212, 219, 219);
 /* padding: 2rem; */


}


.backBtn {
    cursor: pointer;
    display: inline-block;
}
.test_intructions_view_inner_wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.instruction_title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.instPoint img {
    width: 100%;
}
.startTestBtn button {
    background: #6d48ef;
    width: 100%;
    color: #fff;
    padding: 7px 10px;
    border-radius: 8px;
}
.instPoint p {
    font-size: 14px;
    color: #000;
}
.instPoint h6 {
    text-align: center;
    margin-top: 20px;
}

.instPoint p {
    font-size: 14px;
    color: #000;
}
.instPoint p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.instPoint {
    padding: 10px 15px;
}

.instructionScreenBox .instruction_detailBox .instructions {
    border: 1px solid #ffdec2;
    border-radius: 10px;
    background: rgba(255,147,58,.050980392156862744);
    margin-bottom: 15px;
}
 .examTime {
    border: 1px solid #ffdec2;
    background: rgba(255,147,58,.050980392156862744);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.examTitle {
    color: #f1a769;
    margin-bottom: 8px;
}











.test_intructions_view_wrapper .test_intructions_view_inner_wrapper .instructionScreenBox .backBtn {
    cursor: pointer;
    display: inline-block;
}
.test_intructions_view_wrapper .test_intructions_view_inner_wrapper .instructionScreenBox .instruction_title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.test_intructions_view_wrapper .test_intructions_view_inner_wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}
.StartButton{
    margin: 10px;
    text-align: center;
}

.chooseSubjects{
    background-color: #ecf1f7;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 12px;
    border-color: black;
    padding: 10px 10px 10px 10px;
    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
/* .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: 0.75rem;
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
} */
.pyq_subjectTopicInner {
    padding: 20px;
    margin: 40px 0;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 70vh;
}
.pyqSbjTpcListBox {
    max-width: 950px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: #ffffff;
}
.subject_name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    /* position: absolute; */
    /* text-align: center; */
    
}
.subje {
    max-width: 950px;
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    background-color: rgb(182, 171, 171);
    padding: 10px;
}


.dropdown{

    /* position:; */
}

.subject_topics{
    background-color: #f5f4f8;
    border-radius: 8px;
    display: flex;
    padding: 12px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 8px);
    margin: 0 16px 16px 0;
    cursor: pointer;
}

.adjust{
   /* margin: 0 16px 16px 0;  */
}
.right_side_content_wrapper {
    /* width: 68%; */
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f4f8;
}
.sub_section_wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.testProgressIndicator {
    background: #cabdbd;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.testProgressIndicator h4 {
    font-size: 14px;
    color: #000;
    margin-bottom: 16px;
}
 .ProgressBar_Line {
    position: relative;
}
.progressBar.progress {
    height: 8px;
    margin-bottom: 5px;
}
.questionPercentage {
    display: flex;
    justify-content: space-between;
}
.ProgressBar_Line span {
    position: absolute;
    top: -16px;
    font-size: 14px;
}

.right_side_content_wrapper {
    /* width: 68%; */
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f4f8;
}


/* optin data */
.multi_select_option_collection_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.single_select_option_collection_wrapper {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.sub_sub_section_wrapper_3 .show {
    /* display: flex!important; */
}
.multi_select_option_collection_wrapper {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.single_select {
    /* width: calc(50% - 8px); */
    margin: 10px 16px 10px 0;
}
/* .single_select input[type=checkbox] {
    opacity: 1;
    position: fixed;
    width: 0;
}
label {
    font-weight: normal;
} */
.classCorrect {
    /* border: 1px solid #5ddd9b; */
    background: #e1f1ec!important;
    border: 1px solid #16c56a!important;
}
.classWrong {
    /* border: 1px solid #e25555; */
    background: #f6e0e4!important;
 
    border: 1px solid #f93030!important;
}
.single_option_wrapper {
    min-height: 50px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.option_initial {
    margin-right: 10px;
}
.option_final {
    
    /* margin-right: 10px; */
    align-items: baseline;
}
.sub_sub_section_wrapper_3 {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
.text_content_2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #acacac;
    /* margin-block-end: 1em; */
}
.text_content_3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.text_content_3 p {
    margin-bottom: 0;
}


/* question data */
.questionBox {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
.typeLanguageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.sub_sub_section_wrapper_2 h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
p {
    display: block;
    margin-block-start: 1em;
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


p {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}

.show{
    display: block;
}
.hide{
    display: none;
}


/* nextButton */
.sub_sub_section_wrapper_5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub_sub_section_wrapper_5 .left_side_wrapper {
    width: calc(50% - 8px);
    margin-right: 16px;
}
 .left_side_wrapper .btn_wrapper {
    text-align: left;
}
 .sub_sub_section_wrapper_5 .left_side_wrapper .btn_wrapper button {
    outline: none;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #6d48ef;
    padding: 10px;
    width: 100%;
    border: 1px solid #e2e2e2;
}
.sub_sub_section_wrapper_5 .right_side_wrapper {
    width: calc(50% - 8px);
}
 .right_side_wrapper .btn_wrapper {
    text-align: right;
}
.right_side_wrapper .btn_wrapper button {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 10px;
    width: 100%;
    background: #6d48ef;
}


/* optionCLick */
/* .single_option_wrapper {
    border: 2px solid #6d48ef;
} */
.single_select input[type=checkbox] {
    opacity: 1;
    position: fixed;
    width: 0;
}
.single_select input[type=checkbox]:checked+.single_option_wrapper {
    border: 2px solid #6d48ef;
}
